{require_otp_vsn, "R14B04|R15B02|R15B03|R16B"}.

{erl_opts, [{d, 'NOTEST'},
            warn_obsolete_guard,
            warn_unused_import,
            warnings_as_errors,
            warn_shadow_vars,
            warn_export_vars,
            warn_export_all]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.

{port_specs, [
    {"priv/leo_mcerl.so", ["c_src/*.c"]}
]}. 

{port_env, [
             {"CFLAGS", "$CFLAGS -fPIC -g -O2 -Ic_src/libcutil/src"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -O2 -Wall -Ic_src/libcutil/src"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/libcutil/build/src/libcutil.a"}
             ]}.

{pre_hooks, [{'get-deps', "c_src/build_deps.sh get-deps"},
             {compile, "c_src/build_deps.sh"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
